.canvas-wrap{
    width: 90vh;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: content-box;
}
.canvas_warp:before{
    content:"";
    display: block;
    padding-top: 50%;
}
.canvas{
    position: absolute;
    left:0;
    top:-45vh;
    border: 0;
    max-width:100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
#canvas{
    width: 100%;
}
#test_arrow{
    width: 100%;
    /* width: 200%; */
}
#flex{
    height: 90vh;
    display: flex;
    align-items: center;
}
.fbox{
    margin: 0;
}